* {
    padding: 0;
    margin: 0;
}

.logo img {
    max-height: 50px;
    /* Ensure it fits properly */
    width: auto;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    /* Match sidebar width */
    height: 60px;
    /* Match sidebar-logo height */
    width: 100%;
    background-color: white;

}

/*sidebar */
.container {
    position: fixed;
    margin-top: 60px;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #fff;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* Keep sidebar below navbar */
}